<footer id="site-footer" role="contentinfo">
  <span>Christer Olsen &copy 2017</span>
  <span>
    <a role="link" target="_blank" href="https://linkedin.com/in/christer-olsen-15845b53/">
      <img aria-label="LinkedIn Logo" alt="LinkedIn Logo" src="/img/linkedin.png">
    </a>
    <a role="link" target="_blank" href="https://github.com/colsen1991">
      <img aria-label="LinkedIn Logo" alt="LinkedIn Logo" src="/img/github.png">
    </a>
    <a role="link" target="_blank" href="https://twitter.com/colsen1991">
      <img aria-label="LinkedIn Logo" alt="LinkedIn Logo" src="/img/twitter.png">
    </a>
  </span>
</footer>
