<extends src='templates/_default.html'>
  <block name="stylesheet">
    <link rel='stylesheet' href='/css/home.css'>
  </block>

  <block name="navigation">
    <include src="includes/_navigation.html"></include>
  </block>

  <block name="banner">
    <include src="includes/_banner.html"></include>
  </block>

  <block name='content'>
    <section class="site-section" id="about">
      <div class="section-wrapper">
        <h1>About</h1>
        <p>Hi, I'm Chris!</p>
        <p>I'm a 26 year old Norwegian web developer, beer enthusiast, and traveller.</p>
        <p>
          I have a <b>bachelor's degree in computer engineering</b> from Sør-Trøndelag University College in Trondheim,
          as well as <b>2 years of experience</b> working for <a role="link" target="_blank" href="https://www.accenture.com">Accenture</a>.
        </p>
        <p>
          At Accenture I worked on a modern webapp for use in healthcare. Technologies included; Backbone.js, <b>React</b>,
          jQuery, <b>Node.js w/Express</b>, webpack, <b>NPM</b>, Java w/Spring, and various Oracle producs for the backend.
        </p>
        <p>
          Personal projects include <b>this website</b>, as well as
          <a role="link" target="_blank" href="https://www.beeroclock.site">The Beer O'Clock Clock</a>.
          I usually dabble around with various technologies and personal projects on the side.
          A link to my <b>GitHub</b> profile, as well as <b>Twitter</b>, <b>LinkedIn</b>, and <b>Medium</b>, can be found at the bottom of the website.
        </p>
        <p>
          If you find my skills interesting, or think that I could be of help to you, then <a href="/#contact">let's talk</a>!
        </p>
        <p>
        </p>
      </div>
    </section>

    <section class="site-section" id="blog">
      <div class="section-wrapper">
        <h1>Blog</h1>
        <p style="text-align: center;">Coming soon!</p>
        <!-- TODO -->
      </div>
    </section>

    <section class="site-section" id="contact">
      <div class="section-wrapper">
        <h1>Contact</h1>

        <form id="js-contact-form" action="https://formspree.io/colsen1991@gmail.com" method="post">
          <input type="text" name="name" placeholder="Name" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="text" name="subject" placeholder="Subject" required>
          <textarea name="message" placeholder="Message" required></textarea>

          <input role="button" type="submit" value="Send">

          <input type="hidden" name="_next" value="/?showThanks=true#contact">
          <input type="checkbox" placeholder="Check me if you are human" name="_gotcha" style="display:none">
        </form>

        <div id="thank-you" style="display:none">Thanks for your email!</div>
      </div>
    </section>
  </block>

  <block name="footer">
    <include src="includes/_footer.html"></include>
  </block>

  <block name="javascript">
    <script src="/js/main.js"></script>
  </block>
</extends>
