html {
  font-family: "Roboto", serif;
  font-size: 16px;
  overflow-y: scroll;
  color: #f5f5f5;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body,
button,
input,
p,
span,
a,
h1,
h2,
h3,
header,
footer,
nav,
div {
  font-family: inherit;
  font-size: inherit;
}

input {
  border: none;
}

button:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled {
  background-color: #d3d3d3;
}

input[type="submit"] {
  cursor: pointer;
  background-color: #ff6b00;
  color: #000;
  font-weight: bold;
}

input[type="submit"]:hover {
  color: #f5f5f5;
}

input[type="submit"]:disabled {
  background-color: #965a1b;
}

button {
  background-color: #ff6b00;
  border: none;
  color: #000;
}

button:hover {
  color: #f5f5f5;
}

body {
  background: url("/img/bg_pattern.png");
  margin: 0;
}

input {
  color: #000;
  padding: 0.5em;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ff6b00;
}

a:hover {
  color: #000;
}

a[disabled] {
  pointer-events: none;
}

time {
  font-weight: lighter;
  font-style: italic;
}

hr {
  border-color: #171717;
}

#root {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

#site-header {
  background: #ff6b00;
  padding: 1em;
}

#site-header h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  font-family: "Poiret One", serif;
}

#site-content {
  display: block;
  padding: 2em;
  background: rgba(67,67,67,0.35);
  min-height: 3em;
}

#site-footer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-footer span:first-child {
  flex: 9;
}

#site-footer #images {
  display: flex;
  justify-content: flex-end;
  flex: 11;
}

#site-footer #images a {
  margin-right: 0.5em;
}

#site-footer #images a:last-child {
  margin-right: 0;
}

#site-footer #images img {
  height: 2em;
}

.transition-all-1s-ease-in-out {
  transition: all 1s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.transform-translate-y-minus-100 {
  transform: translateY(-100px);
}

.transform-translate-x-800 {
  transform: translatex(800px);
}

.transform-translate-x-minus-800 {
  transform: translatex(-800px);
}
