* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(1.5vw + 0.5vh + 6px);
  font-family: 'Helvetica', sans-serif;
  color: #030303;
}

h1, h2, h3, h4, h5 {
  font-family: 'Georgia', serif;
}

li {
  margin-left: 2em;
}
