* {
  box-sizing: content-box;
  color: #030303;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: calc(0.5vw + 0.5vh + 13px);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 55vw;
  padding: 0 5vw;
  background-color: rgba(248, 248, 255, .5);
}

h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
  text-align: center;
}

a {
  color: #FF8C00;
  text-decoration: none;
}

a:visited {
  color: #FF8C00;
}

a:hover,
a:active {
  color: #A9A9A9;
}

#site-navigation {
  padding: 1em 5vw;
  max-height: 2em;
  position: fixed;
  top: 0;
  bottom: auto;
  background-color: rgb(248, 248, 255);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#site-navigation > nav {
  display: flex;
  justify-content: space-between;
  width: 55vw;
  align-items: center;
}

#site-navigation > nav > a:first-child {
  height: 2em;
}

#site-navigation > nav > a > img {
  height: 2em;
  width: auto;
}

@media (max-width: 800px) {
  body {
    max-width: 70vw;
  }

  #site-navigation > nav {
    width: 70vw;
  }
}

@media (max-width: 640px) {
  body {
    max-width: 85vw;
  }

  #site-navigation > nav {
    width: 85vw;
  }
}

@media (max-width: 480px) {
  body {
    max-width: 100%;
  }

  #site-navigation > nav {
    max-width: 100%;
  }
}

#site-footer {
  padding: 5vh 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
}

#site-footer > span:first-child {
  font-size: .75em;
}

#site-footer > span:nth-child(2) > a {
  display: inline-block;
  height: 2em;
  margin-left: 2vw;
}

#site-footer > span:nth-child(2) > a > img {
  height: 2em;
}
