#site-banner {
  display: flex;
  margin-top: 4em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 6em);
}

#site-banner > div {
  display: flex;
  align-items: center;
  height: calc(100% - 9.5em);
}

#site-banner > div > img {
  max-width: 320px;
  overflow: hidden;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  #site-banner > div > img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 360px) {
  #site-banner > div > img {
    max-width: 280px;
  }
}

#site-banner > h1 {
  margin-bottom: 0;
}

#site-banner > h2 {
  margin: 0;
}

.site-section > div.section-wrapper {
  padding-top: 5em;
}

.site-section > div.section-wrapper > h1 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

input,
input[type=text],
input[type=email],
textarea {
  padding: 1em;
  border: none;
  font-size: 1em;
  margin-top: 2vh;
  resize: vertical;
  width: calc(100% - 2em);
}

textarea {
  min-height: 5em;
}

input[type=submit] {
  width: 20vw;
  padding: 1em;
  cursor: pointer;
  align-self: center;
  background-color: #D3D3D3;
}

input[type=submit]:active,
input[type=submit]:hover {
  background-color: #808080;
}

#thank-you {
  text-align: center;
}

